.benefit {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-top: 158px;
    padding-bottom: 59px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 80px;
  }
}

.benefit__item {
  position: relative;
  margin-left: 49px;
  margin-bottom: 26px;

  &:last-child {
    margin-bottom: 0;
  }

  &--habitation::before {
    content: "";
    position: absolute;
    left: -29px;
    top: -9px;
    width: 39px;
    height: 37px;
    background-image: url("../img/icon_house.svg");

    @media (min-width: $tablet-width) {
      left: 50%;
      transform: translateX(-50%);
      top: -97px;
      width: 75px;
      height: 72px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--souvenirs::before {
    content: "";
    position: absolute;
    left: -24px;
    top: -10px;
    width: 32px;
    height: 38px;
    background-image: url("../img/icon_gift.svg");

    @media (min-width: $tablet-width) {
      left: 50%;
      transform: translateX(-50%);
      top: -102px;
      width: 64px;
      height: 75px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--food::before {
    content: "";
    position: absolute;
    left: -30px;
    top: -4px;
    width: 40px;
    height: 35px;
    background-image: url("../img/icon_burger.svg");

    @media (min-width: $tablet-width) {
      left: 50%;
      transform: translateX(-50%);
      top: -95px;
      width: 76px;
      height: 68px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media (min-width: $tablet-width) {
    width: 33.33%;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.benefit__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    font-size: 21px;
  }
}

.benefit__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: $simple-black;

  @media (min-width: $tablet-width) {
    &--habitation,
    &--souvenirs {
      padding: 0 12px;
    }

    &--food {
      padding: 0 20px;
    }
  }

  @media (min-width: $desktop-width) {
    &--habitation {
      padding: 0 40px;
    }

    &--souvenirs {
      padding: 0 83px;
    }
  }
}

@media (min-width: $tablet-width) {
  .benefit__item--food {
    order: 2;
  }

  .benefit__item--souvenirs {
    order: 3;
  }
}
