.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 16px;
  }

  @media (min-width: $tablet-width) {
    justify-self: end;
  }
}

.copyright__title {
  margin: 0;
  margin-bottom: 5px;
  padding-right: 10px;
  font-size: 14px;
}

.copyright__icon:hover {
  path {
    fill: $blue-hover;
  }

  &:active {
    path {
      fill: $black;
      opacity: 0.3;
    }
  }
}
