.features {
  text-transform: uppercase;
}

.features__item {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.features__text {
  padding-top: 39px;
  padding-bottom: 39px;
  color: $white;
  background-color: $blue;

  &--cut {
    padding-top: 68px;
  }

  &--bridge {
    padding-bottom: 36px;
  }

  p {
    margin: 0 -8px;
    font-size: 14px;
    line-height: 21px;
  }

  @media (min-width: $tablet-width) {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px;
  }
}

.features__title {
  margin: 0;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    max-width: 160px;
  }
}

.features__number {
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding-bottom: 25px;
  }
}

.features__description {
  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }
}

.features__img-wrapper {
  @media (min-width: $tablet-width) {
    flex-grow: 1;

    &--first {
      order: -1;
    }
  }
}

.features__img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.features__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
