.intro {
  text-transform: uppercase;
  text-align: center;
}

.intro__title {
  margin-top: 25px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.intro__description {
  margin: 0;
  margin-bottom: 50px;
  font-size: 14px;
  color: $simple-black;
}
