.page-header {
  position: relative;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.page-header__image {
  @media (min-width: $desktop-width) {
    width: 187px;
    height: 97px;
  }
}
