.page-header {
  position: relative;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 84px;


  @media (min-width: $desktop-width) {
    height: 96.5px;
  }
}
