.page {
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.page__body {
  min-height: 100%;
  background-color: $page-grey;
}

.page__wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-color: $white;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
  }
}
