.photo-gallery__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photo-gallery__item {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.photo-gallery__item--stretch {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}
