.photo-description {
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.photo-description__title {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
}

.photo-description__autor {
  margin: 0;
  margin-bottom: 10px;
  color: $simple-black;
}

.photo-description__likes {
  display: flex;

  @media (min-width: $tablet-width) {
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
  }
}
