.reason {
  background-color: $grey;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.reason__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;

  p {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    color: $simple-black;
  }
}

@media (min-width: $tablet-width) {
  .reason__item {
    padding-top: 42px;
    padding-bottom: 42px;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.reason__title {
  margin: 0;
  padding-bottom: 15px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    max-width: 160px;
  }
}

.reason__number {
  padding-bottom: 20px;
}
