.reason {
  background-color: $grey;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

.reason__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 24px;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    &:not(:last-child)::before {
      content: "";
      position: absolute;
      top: 167px;
      left: 20px;
      right: 20px;
      height: 1px;
      background-color: #d6d6d6;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 42px;
    padding-bottom: 42px;

    &--area {
      padding-left: 32px;
    }

    &--tourist {
      padding-right: 32px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 62px;
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    color: $simple-black;
  }
}

.reason__title {
  margin: 0;
  padding-bottom: 11px;
  font-size: 18px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    max-width: 120px;
    font-size: 21px;
  }
}

.reason__number {
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding-bottom: 25px;
  }
}

.reason__description {
  &--road {
    padding: 0 28px;

    @media (min-width: $desktop-width) {
      padding: 0 40px;
    }
  }

  &--tourist {
    padding: 0 12px;
  }
}
