.reason {
  background-color: $grey;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
}

.reason__item {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;

  p {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    color: $simple-black;
  }
}

.reason__title {
  margin: 0;
  padding-bottom: 15px;
  font-weight: bold;
}

.reason__number {
  padding-bottom: 20px;
}
