.review-form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.review-form__item {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;

  &--user {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      padding-left: 58px;
      box-sizing: border-box;
      border-left: 1px solid $border-grey;
    }

    @media (min-width: $desktop-width) {
      padding-left: 79px;
    }
  }

  &--feeling {
    @media (min-width: $desktop-width) {
      padding-left: 4px;
      box-sizing: border-box;
    }
  }

  @media (min-width: $tablet-width) {
    &--feeling {
      order: -2;
      width: 50%;
    }

    &--user {
      order: -1;
      width: 50%;
    }
  }
}

.review-form__wrapper {
  width: 100%;
  display: flex;
  align-items: baseline;

  &--contacts {
    @media (max-width: 1199px) {
      flex-direction: column;
    }
  }
}

.review-form__button {
  width: 100%;
  margin-bottom: 36px;
  font-family: "PT Sans", "Arial", sans-serif;
  border: none;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 63px;
  }
}

.review-form__required {
  margin-left: auto;
  font-size: 14px;
  text-transform: uppercase;
  color: $simple-black;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
