.search-hotel {
  text-transform: uppercase;
  text-align: center;
}

.search-hotel__question {
  font-size: 21px;
}

.search-hotel__intro {
  margin-bottom: 27px;
  font-size: 14px;
  line-height: 24px;
  color: $simple-black;
}

.search-hotel__button {
  margin-bottom: 49px;
}
