.social__list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
  list-style: none;
}

.social__item {
  margin-right: 6px;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: $blue;

  &:last-child {
    margin-right: 0;
  }
}
