.social__list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style: none;

  @media (min-width: $tablet-width) {
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 36px;
  }
}

.social__item {
  margin-right: 6px;
  background-color: $blue;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-active;
  }
}

.social__link {
  display: block;
  width: 48px;
  height: 48px;


  &--twitter {
    background-image: url("../../img/icon_twitter.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--facebook {
    background-image: url("../../img/icon_facebook.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--youtube {
    background-image: url("../../img/icon_youtube.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &:active {
    opacity: 0.3;
  }
}
